
.venv
__pycache__
*.pyc
.git
.gitignore
.pytest_cache
images
mlruns/
mlflow.db
Dockerfile
README.md
.env
.env.example
Tests/
README.md
.github/
# Exclure les données lourdes
ml/Attrition-RH-Data.csv
ml/analyse-preparation.ipynb
ml/artifacts/
ml/pipeline.py
ml/Fonctions.py
ml/artifacts/
*.png

