version: '3.8'
services:
  db:
   image: postgres:16
   restart: always
   environment:
     POSTGRES_DB: Retention_db
     POSTGRES_USER: postgres
     POSTGRES_PASSWORD: secret
   ports:
     - "5432:5432"
   volumes:
    
    - pg_data:/var/lib/postgresql/data 

  backend:
    build: 
      context: ./Retention_IA_Platform_Backend
      dockerfile: Dockerfile 
    restart: always
    depends_on:
      - db
    environment:
       POSTGRES_USER: postgres
       POSTGRES_PASSWORD: secret
       POSTGRES_DB: Retention_db
       POSTGRES_HOST: db
       POSTGRES_PORT: 5432

    ports:
      - "8000:8000"
    command: sh -c "sleep 5 && uvicorn api_app.main:app --host 0.0.0.0 --port 8000 --reload"
frontend:
    build: 
      context: ./Retention_IA_Platform_Frontend/retentionRH-app
      dockerfile: Dockerfile 
    restart: always
    depends_on:
      - backend
    ports:
      - "5173:5173"
    environment:
      REACT_APP_API_URL: http://backend:8000
volumes:
  pg_data: 



